@font-face {
    font-family: Nunito;
    src: url(../font/Cairo-Regular.ttf);
    src: url(../font/Cairo-Regular.ttf) format('ttf'), url(../font/Cairo-Regular.ttf) format('truetype')
}

body,
html {
    direction: rtl;
    font-family: Nunito;
}

.ml-auto {
    margin-left: 0!important;
}

.dropdown-menu-right {
    left: 0;
}

.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn,
.input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:last-child)>.btn,
.input-group-btn:not(:last-child)>.btn-group>.btn,
.input-group-btn:not(:last-child)>.dropdown-toggle {
    border-top-right-radius: .25rem!important;
    border-bottom-right-radius: .25rem!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.input-group>.input-group-append>.btn,
.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),
.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sidebar .nav-item .nav-link {
    text-align: right;
}

.sidebar .nav-item .nav-link[data-toggle=collapse].collapsed::after {
    content: '\f104';
}

.sidebar .nav-item .nav-link[data-toggle=collapse]::after {
    float: left;
}

.custom-control-label::after,
.custom-control-label::before {
    left: auto;
    right: -1.5rem;
}

.custom-control {
    padding-left: 1.5rem;
}

.custom-file-label::after {
    right: auto;
    left: 0;
}

.custom-switch .custom-control-label::before {
    right: -2.25rem;
    left: auto;
}

.custom-switch .custom-control-label::after {
    left: auto;
    right: calc(-2.25rem + 2px);
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    -webkit-transform: translateX(-.75rem);
    transform: translateX(-.75rem);
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle),
.input-group>.input-group-append:last-child>.input-group-text:not(:last-child),
.input-group>.input-group-append:not(:last-child)>.btn,
.input-group>.input-group-append:not(:last-child)>.input-group-text,
.input-group>.input-group-prepend>.btn,
.input-group>.input-group-prepend>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.input-group>.input-group-append>.btn,
.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),
.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    float: right;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    float: left;
}

.bootstrap-touchspin .input-group-btn-vertical {
    right: auto;
    left: 0;
}

.bootstrap-touchspin .input-group-btn-vertical>.btn {
    right: auto;
    left: 0;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
    border-radius: 4px 0 0 0;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
    border-radius: 0 0 0 4px;
}

.topbar .navbar-search input {
    font-size: 1rem;
}

.breadcrumb-item+.breadcrumb-item {
    padding-right: .5rem;
    padding-left: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 0!important;
    padding-left: .5rem;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}
